body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Libre Franklin', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
button,input,select {
    outline: none;
}
*:focus {
    outline: none ;
}
input:focus{
    outline: none ;
}
.fa-circle {
    color:red;
}
.hidden {
    display: none;
}
#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    vertical-align: center;
    height: 30px;
    background-color: #000a12;
    /*right: 4px;*/
}
.window-button {
    height: 30px !important;
    line-height: 30px;
    padding: 0 0.5rem;
}
.btn-outline-light {
    color: #aeaeaf;
}
.primary_mode{
    background-color: #1b1b1b;
    opacity: 0.5;
}
.primary_button{
   background-color: #fff176;
    color: #000000;
}
.secondary_button{
    font-weight: bold;
}
.title h5{
    color: #fff176;
    font-weight: bold;
}
.title{
    margin: 100px 0 20px 0;
}
.warningMessage{
    margin: 20px 0 20px 0;
}
.warningMessage p {
    font-size: 10px;
    color: #fff176;
}
.dark_mode_opacity{
    opacity: 0.5;
}
#title-bar-btns i{
    width: 15px;
    height: 15px;
}
@media screen and (max-width: 200px) {
    #title-bar-btns {
        display: none;
    }
    .title{
        display: none;
    }
    .audioInputSelect{
        display: none;
    }
    .warningMessage{
        display: none;
    }
    #start_capture{
        display: none;
    }
    #open_folder{
        display: none;
    }
    #mute{
        display: none;
    }
    #timer_block{
        font-size: 10px;
    }
    #record_block{
        display: flex;
        flex-wrap: wrap;
        width: 76px;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #record_block button{
        margin-top: 4px;
    }
    .mainContainer{
        margin-top: 0 !important;
        width: 80px;
        padding: 0 !important;
    }
    #timer_block{
        margin-top:10px;
        padding: 0;
        width: 70px !important;
    }
    .dark_mode_opacity{
        width: 80px;
    }
}
#screenArea{
    width: 500px;
    height: 300px;
    border: 2px dotted #fff176;
    position: absolute;
    /*left:30%;*/
    /*top:30%;*/
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    touch-action: none;
}
#imgLayer{
    position:relative;
    width: 100vw;
    height: 100vh;
}
#imgLayer img{
    width: 100%;
    height: 100%;
}
#selectionButtons{
    position: absolute;
}